<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.wangyuelin.crawer.mapper.FruitInfoMapper">

	<!--
	<insert id="save" parameterType="java.util.List">
		insert into month_fruit(month_num,fruits)
		 values
		 <foreach collection="list" item="item" index="index" separator=",">
			 (
			 #{item.monthNum}, #{item.fruitStr}
			 )
		 </foreach>
	</insert>

	-->

	<insert id="save" parameterType="MonthFruitBean">
		INSERT INTO month_fruit(month_num, fruits) VALUES (#{monthNum}, #{fruitStr})
	</insert>


	<select id="getByMonth" parameterType="java.lang.Integer" resultType="MonthFruitBean">
		SELECT month_fruit.month_num AS monthNum, month_fruit.fruits AS fruitStr FROM month_fruit WHERE month_num=#{month}
	</select>

	<update id="update" parameterType="MonthFruitBean">
		UPDATE month_fruit SET fruits=#{fruitStr} WHERE month_num=#{monthNum}
	</update>
</mapper>